/* START TOOLTIP STYLES */
[data-tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 0.8em; /* 툴팁 글자 크기 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* magic! */

  /* most of the rest of this is opinion */
  text-align: center;

  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #fff;
  color: #000;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^='up']::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #fff;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^='up']::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^='up']::before,
[data-tooltip][data-flow^='up']::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[data-tooltip][data-flow^='down']::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #fff;
}
[data-tooltip][data-flow^='down']::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow^='down']::before,
[data-tooltip][data-flow^='down']::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[data-tooltip][data-flow^='left']::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #fff;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}
[data-tooltip][data-flow^='left']::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[data-tooltip][data-flow^='right']::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #fff;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}
[data-tooltip][data-flow^='right']::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^='up']:hover::before,
[data-tooltip][data-flow^='up']:hover::after,
[data-tooltip][data-flow^='down']:hover::before,
[data-tooltip][data-flow^='down']:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[data-tooltip][data-flow^='left']:hover::before,
[data-tooltip][data-flow^='left']:hover::after,
[data-tooltip][data-flow^='right']:hover::before,
[data-tooltip][data-flow^='right']:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}
